body {
  background-image: url(backgroundimg.png);
  background-color:rgba(255, 255, 255, 0.275);
  background-blend-mode:lighten;
  background-repeat: no-repeat;

}

a {
  text-decoration: none;
}

main {
  margin-top: 600px;
}

.main-nav {
  display: flex;
  align-items: right;
  margin-left: auto;
  list-style: none;
  margin-right: 20px;
}

.nav-item {
  margin-left: 20px;
  text-decoration: none;
  font-size: 20px;
}

nav {
  display: flex;
}

.member-image {
  width: 20%;
  height: 20%;
}
